{# Called by django_config/urls.py #}
{% extends 'base.html' %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block head_title %}
Django Index
{% endblock head_title %}

{% block body %}
<div id="react-root"></div>
<h1>{{ title }}</h1>

{{ instance.title }}<br/>
{{ instance.content }}<br/>
{{ instance.timestamp }}<br/>
{{ instance.updated }}<br/>
{{ instance.id }}<br/>
{{ instance.pk }}<br/>

{# {% render_bundle 'vendors' %} #}
{# {% render_bundle 'Index' %} #}
{% endblock body %}
