{# Called by django_config/urls.py #}
{% extends 'base.html' %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block head_title %}
Post Detail
{% endblock head_title %}

{% block body %}
<div id="react-root"></div>

{% if messages %}
<ul>
	{% for m in messages  %}
		<li
			{% if m.tags %}
				class="{{ m.tags }}"
			{% endif %}
		>
			{% if "html_safe" in m.tags %}
				{{ m|safe }}
			{% else %}
				{{ m }}
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endif %}

<h1>{{ title }}</h1>

{{ instance.title }}<br/>
{{ instance.content }}<br/>
{{ instance.timestamp }}<br/>
{{ instance.updated }}<br/>
{{ instance.id }}<br/>
{{ instance.pk }}<br/>

{# {% render_bundle 'vendors' %} #}
{# {% render_bundle 'Index' %} #}
{% endblock body %}
