{# Called by django_config/urls.py #}
{% extends 'base.html' %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block head_title %}
MyFirstBlog: Create Post
{% endblock head_title %}

{% block body_class %}
col-sm-6 col-sm-offset-3
{% endblock body_class %}

{% block body %}
<div id="react-root"></div>
<h1>Form</h1>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %} {# must have csrf token Validation #}
	{{ form.as_p }}
	<input type='submit' value={{ type }} />
</form>
<a href="{% url 'posts:list'%}" class="btn btn-primary" role="button">Go Back</a>

{% endblock body %}
