{# Called by django_config/urls.py #}
{% extends 'base.html' %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block head_title %}
Post Detail
{% endblock head_title %}

{% block body_class %}
col-sm-6 col-sm-offset-3
{% endblock body_class %}

{% block body %}
<div id="react-root"></div>

{% if instance.image %}
	<img src="{{ instance.image.url }}" class="img-responsive">
{% endif %}

<h1>{{ title }} <small>{% if  instance.draft %}<span style='color:red;'>Draft</span>{% endif  %} {{ instance.publish }}</small></h1>
{% if instance.user.get_full_name %}
	<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}

{{ instance.content|linebreaks }}<br/>
{{ instance.updated }}<br/>
{{ instance.id }}<br/>

{# {% render_bundle 'vendors' %} #}
{# {% render_bundle 'Index' %} #}
{% endblock body %}
